:root{
  --red-color:#FF7979;
  --green-color:#38CC8B;
  --blue-color:#5E54A4;
  --black-color:#3D3B48;
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), 
       url('../fonts/poppins-v20-latin-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), 
       url('../fonts/poppins-v20-latin-600.woff') format('woff'); 
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), 
       url('../fonts/poppins-v20-latin-700.woff') format('woff');
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Absolute" "Arial", sans-serif;
}

.container{
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.check{
  padding: 120px 0;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.check__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check__left{
  width: 555px;
}

.check__title{
  margin: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 55px;
color: #FFFFFF;
margin-bottom: 20px;
}

.check__text{
  margin: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}

.check__right{
  width: 540px;
}

.right__link{
  display: block;
  text-decoration: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 26px;
text-align: center;
letter-spacing: 0.267857px;
color: #FFFFFF;
padding: 17px 110px;
background-color: var(--blue-color);
box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
border-radius: 10px;
margin-bottom: 25px;
}

.right__form{
padding: 40px;
background-color: #FFFFFF;
box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
border-radius: 10px;
}

.form__wrap{
  margin-bottom: 15px;
}

.form__input{
  border: none;
  display: block;
  width: 100%;
  padding: 15px 15px 15px 32px;
border: 2px solid #DEDEDE;
border-radius: 5px;
margin-bottom: 6px;
outline: none;
}

.form__input{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 26px;
letter-spacing: 0.25px;
color: #3D3B48;
caret-color: red;
}

.form__span{
  display:block;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: #FF7979;
  margin-left: auto;
  opacity: 0;
}



.form__button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #FFFFFF;
padding: 15px 135px;
background-color: var(--green-color);
box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
border-radius: 5px;
margin-bottom: 8px;
border: none;
}

.form__text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 26px;
text-align: center;
color: #BAB7D4;
}

.form__change{
  color: var(--red-color);
}

input:not(:placeholder-shown):not(:focus):valid{
  border: 2px solid green;
  background-image: url(../img/correc.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: right 25px center;
}

input:not(:placeholder-shown):not(:focus):invalid{
  border: 2px solid #FF7979;
  background-image: url(../img/Group.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: right 25px center;
}


.form-name:not(:placeholder-shown):not(:focus):invalid ~ .form-name-span{
  opacity: 1;
}

.form-last:not(:placeholder-shown):not(:focus):invalid ~ .form-last-span{
  opacity: 1;
}

.form-email:not(:placeholder-shown):not(:focus):invalid ~ .form-email-span{
  opacity: 1;
}

.form-password:not(:placeholder-shown):not(:focus):invalid ~ .form-password-span{
  opacity: 1;
}

